$primary-color-blue: rgba(66, 135, 201, 1);
$primary-color-black: rgba(0, 0, 56, 1);
$primary-color-white: rgba(246, 251, 250, 1);
$secondary-color-blue: rgba(110, 160, 199, 0.94);

$primary-time-transition: 1.5s;
